#images
*.jpg
*.png
*.gif
*.tiff
*.bmp
*.gifv

#video
*.webm
*.mkv
*.flv
*.vob
*.ogv
*.ogg
*.mov
*.wmv
*.mp4
*.mpg
*.mpeg
*.mpv
*.3gp

#audio
*.mp3
*.oga
*.mogg 
*.aac
*.aa
*.aax
*.aiff
*.alac
*.flac
*.raw
*.wav
*.wma

#else
*.zip
*.rar
*.7z
*.doc
*.txt
*.pdf

